<!DOCTYPE html>
<html ng-app="AngularApp">

<head>
    <meta charset="utf 8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'asignaturas/asignaturas.css' %}">
    <title>Mockup</title>
</head>
<body>
  <form onsubmit="return false;">
{% csrf_token %}

  <div class="row" style="width:100%;">
    <br>

    <br>
  </div>
  <div class="row" style="width:100%;">
    <div class="col-sm-3 col-md-3"></div>

    <div class="col-sm-9 col-md-6" style="width:50%;">

      <h2 align=center>Gestión De Matrícula - Secretaria</h2>

      <br>
      <!--Name-->
      <div class="row align-items-center" style="width:100%;">
        <div class="col-sm-6 col-md-6" style="width:50%">
      <label for="Nombre" class="center-block text-center">Nombres:</label>
    </div>
    <div class="col-sm-6 col-md-6" style="width:50%;">
      <input type="text" class="form-control" id="Name" placeholder="{{Persona.Name}}" name="Name" disabled>
    </div>
    </div>
    <!--End_Name-->

    <!--LastName-->
    <div class="row align-items-center" style="width:100%;">
      <div class="col-sm-6 col-md-6" style="width:50%">
    <label for="Apellido" class="center-block text-center">Apellidos:</label>
  </div>
  <div class="col-sm-6 col-md-6" style="width:50%;">
    <input type="text" class="form-control" id="Apellido" placeholder="{{Persona.LastName}}" name="Apellido" disabled>
  </div>
  </div>
  <!--End_LastName-->

  <!--Code-->
  <div class="row align-items-center" style="width:100%;">
    <div class="col-sm-6 col-md-6" style="width:50%">
  <label for="Code" class="center-block text-center">DNI:</label>
</div>
<div class="col-sm-6 col-md-6" style="width:50%;">
  <input type="text" class="form-control" id="Code" placeholder="{{Persona.DNI}}" name="Code" disabled>
  <input type="hidden" class="form-control" id="NameAlumn" placeholder="{{Persona.DNI}}" name="Code">

</div>
</div>
<!--End_Code-->

<!--Two Columns-->
<div class="row align-items-center" style="width:100%;">

    <div class="col-sm-6 col-md-6" style="width:50%">
  <label for="Code" class="center-block text-center"># de Recibo:</label>
</div>
<div class="col-sm-6 col-md-6" style="width:50%;">
  <input type="number" class="form-control" id="codeid" placeholder="" name="Code">
</div>

<button type="submit" class="btn btn-success btn-sm" id="ButtonConfirm" onclick="create()">Buscar</button>

</div>
<!--End_Two Columns-->

</div>
</form>
</body>
<script type="text/javascript">

function create(){
data={}
data = {
  csrfmiddlewaretoken: '{{ csrf_token}}',
};
data["codeid"] = $('#codeid').val();

console.log(data)
  $('.ajaxProgress').show();
  $.ajax({
    type: "POST",
    url: "/",
    dataType: "json",
    async: true,
    data,
    success: function (json) {

      if(json.name!=""){
      var r = confirm("Quiere Aprobar el recibo");
if (r == true) {
  $('#NameAlumn').val(json.name);
  createsend()
  console.log("sss")
} else {
  txt = "You pressed Cancel!";
}

    }
    else{
      alert(json.result);
    }
    }
  });
}



function createsend(){
data={}
data = {
  csrfmiddlewaretoken: '{{ csrf_token}}',
};
data["NameAlumn"] = $('#NameAlumn').val();
data["codeeid"] = $('#codeid').val();

console.log(data)
  $('.ajaxProgress').show();
  $.ajax({
    type: "POST",
    url: "/",
    dataType: "json",
    async: true,
    data,
    success: function (json) {


    }
  });
}
  </script>
</html>
